<ion-header >
  <ion-toolbar >
    <ion-title >
      <div id="font" >
      <img width="350" height="220" src="assets\images (1).jpeg">
      <h1 style="background-color: black;color: gold">Deliciosa la café..</h1>
    </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  
  <div style="text-align: center;margin-top: 100px">
    <ion-button color="dark" routerLink='/new-order'>new Order</ion-button>
    <ion-button color="dark" routerLink='/place-order'>show order</ion-button>
  </div>
  <div style="background-color:black;text-align: center;color: grey; font-style: italic;padding-bottom: 15px;padding-top: 15px;margin-top: 520px" >
                  copy-rights: Mapara-Vibe Ent products©
  </div>
</ion-content>
